{% for item in basket_items %}
<p>{{basket_items}}</p>
<div class="basket_record">
    <img src="/media/{{ item.good.image}}" alt="">
    <span class="category_caption">{{item.good.category.caption}}</span>
    <span class="good_caption">{{item.good.caption}}</span>
    <span class="good_price">{{item.good.str_price}}</span>
    <input type="number" name="{{item.pk}}" min="0" value="{{item.quantity}}">
    <span class="good_total_price">{{item.get_all_total_price}}</span>
    <button class="btn btn-round"><a href="{% url 'basket:remove' item.pk %}">Удалить</a></button>
</div>
{% endfor %}

{% if basket_items %}
    <div class="basket_summary">В корзине {{basket_items.0.get_all_total_quantity}} товаров общей стоимостью {{basket_items.0.get_all_total_price}}</div> 
{% endif %}
