{% extends 'base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'auth:useredit' user.username %}" method="post" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_form.as_p }}
    <div class="user_avatar"><img src="/media/{{ user.avatar }}" alt=""></div>
    <input type="submit" value="сохранить" class="form-control">
    <button class="btn btn-round form-control last">
        <a href="{% url 'main' %}">на главную</a>
    </button>
</form>

{% endblock content %}
