{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
<a class="button" href="{% url 'adminapp:category_create' %}">Новая категория</a>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>

        {% for ob in object_list %}
        <tr>
            <td>{{ ob.pk }}</td>
            <td><a href="{% url 'adminapp:category_update' ob.pk %}">{{ ob.caption }}</a></td>
            <td>
                <a href="{% url 'adminapp:goods' ob.pk %}" class="button">Товары</a>
                <a class="button" href="{% url 'adminapp:category_delete' ob.pk %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock content %}