{% extends "base.html" %}

{% block content %}
        <h1>Магазин компьютерных комплектующих &#171;Кнопка&#187;</h1>
        <h3>Мы приветствуем наших покупателей</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eligendi provident delectus, expedita totam vero ea autem id a at vel cum, tempore suscipit magni commodi, saepe adipisci. Assumenda consequuntur eaque aspernatur est ex velit odit distinctio libero magni deserunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatem recusandae quos nisi sed necessitatibus alias reiciendis quod rem consectetur blanditiis, nam assumenda. Harum alias commodi officia maxime quod illo iusto suscipit inventore, dolores voluptates? Modi, possimus, nobis! Corporis, voluptate?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, ducimus id, repellendus quos blanditiis laboriosam facilis earum. Ullam debitis obcaecati vitae voluptas rem adipisci, consectetur assumenda quae mollitia, et repudiandae. Ullam consequuntur necessitatibus corporis harum soluta nulla eum! Nemo, minima.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam cumque accusamus neque maxime veritatis, velit iure! Id distinctio hic perferendis laudantium temporibus libero quibusdam quod doloribus neque quisquam maxime perspiciatis laboriosam sapiente iste veniam, rem maiores ipsa ullam aspernatur totam.</p>
{% endblock content %}
